# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg

# Virtual environments
env/
venv/
ENV/
.venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
